.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  color: white;
  z-index: 5200000;
}

.right-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: white;
  transform: rotate(180deg);
  background-color: #3a425f;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 50%;
  z-index: 5200000;

  &:hover {
    color: black;
  }
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  * {
    margin: 0;
    padding: 0;
  }

  .top {
    p {
      color: black;
      font-size: 18px;
      font-weight: bold;
    }

    .top-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      background-image: url(./../Images/topbg.png);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 5px 10px;
      border-radius: 15px;
      font-size: 20px;
      margin-top: 10px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .middle {
    width: 90vw;
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;

      a {
        line-height: 10px;
        color: black;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 0.5;
        display: flex;
        flex-direction: column;
        font-weight: 900;
        transition: all 0.2s;

        &:hover {
          color: white;
        }
      }

      img {
        width: 50px;
      }
    }

    .right {
      top: -10px;
    }
    .left {
      top: 10px;
    }

    .middle-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 280px;

      .up-circle {
        position: absolute;
        width: 200px;
        height: 200px;
        background: #2d385c;
        opacity: 0.6;
        z-index: 1;
        border-radius: 50%;
      }

      .middle-circle {
        position: absolute;
        background-color: #3a425f;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        opacity: 0.45;
        z-index: 0;
      }

      img {
        position: relative;
        width: 150px;
        height: 150px;
        z-index: 2;
      }
    }
  }

  .claim-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .claim {
      outline: 0;
      border: none;
      color: white;
      background: linear-gradient(to right, #00516b, #003040);
      padding: 13px 25px;
      border-radius: 8px 8px 20px 20px;
      font-size: 16px;
      transition: all 0.2s;
      cursor: pointer;
      font-weight: 700;

      &.disable {
        filter: brightness(0.5);
        cursor: not-allowed;

        &:hover {
          filter: brightness(0.5);
        }
      }

      &:hover {
        filter: brightness(1.2);
      }
    }

    .text {
      margin-top: 10px;
      font-size: 15px;
      text-align: center;
      color: #b75e61;
      font-weight: 700;

      &.active {
        color: green;
      }
    }
  }

  .buttons {
    margin-top: 50px;

    .row {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 0;
        color: black;
        font-weight: 700;
        transition: all 0.2s;

        &.none {
          opacity: 0;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }

      &:last-child {
        margin-top: 10px;
      }

      button {
        outline: none;
        border: none;
        background-image: url(./../Images/topbg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 60px;
        color: #a59f9a;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 10px 20px;
        height: 40px;
        font-size: 14px;
        font-weight: 800;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}

.Earn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 28px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .earn-button {
      margin-top: 20px;
      width: 100%;
      background-image: url(./../Images/topbg.png);
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 20px;
      border-radius: 10px;
      font-weight: 700;
      font-size: 18px;
      background-size: 100%;

      .claim {
        background-color: #5ddafd;
        color: black;
        padding: 0px 15px;
        font-weight: 700;
        border-radius: 10px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .bottom {
    margin-top: 50px;
    width: 100px;
    height: 100px;
  }
}

.Profile,
.Dex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 150px;
  }

  p {
    background: #5ddafd;
    text-align: center;
    padding: 15px 30px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 40px;
    color: black;
  }
}

.AboutUs {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./../Images/AboutUsBG.jpg);
  background-size: 100% 100%;
  background-position: center;
}
